/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Navigation Styles */
nav {
    background-color: #eee;
    padding: 1em 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 1em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;

}

nav a:hover {
    color: #555;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* List Styles */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Bestandsdaten-Stil */
.stock-data {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.stock-data h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.stock-list {
    list-style-type: none;
    padding: 0;
}

.stock-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.stock-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-item label {
    font-weight: bold;
}

.stock-item .stock-value {
    font-weight: bold;
    color: #333;
}

#login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#delete-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Überschrift des Löschformulars */
#delete-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Label für das Dropdown */
#delete-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

/* Dropdown-Menü */
#delete-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button zum Löschen */
#delete-form input[type="submit"] {
    background-color: #f44336; /* Rote Farbe */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

/* Button-Hover-Effekt */
#delete-form input[type="submit"]:hover {
    background-color: #d32f2f; /* Dunklere Rote Farbe */
}

/* Fehlermeldung, falls erforderlich */
#delete-form .error-message {
    color: #f44336; /* Rote Farbe für Fehlermeldung */
    margin-top: 10px;
    font-size: 14px;
}

/* Meldung, wenn kein Eintrag zum Löschen verfügbar ist */
#no-delete-data-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

/* Login Section Styles */
#login-section {
    display: none; /* Initially hidden */
}
.edit-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.edit-item label {
    display: block;
    margin-bottom: 5px;
}
.edit-item h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}
#edit-selection {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.edit-item input[type="text"],
.edit-item input[type="number"],
.edit-item input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-item input[type="checkbox"] {
    margin-right: 5px;
}

.edit-item button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.edit-item button:hover {
    background-color: #45a049;
}
